body {
  width: 100%;
  height: 100%;
  overflow-x: hidden; /* Hide horizontal scrollbar */
  background-color: #a5bdfb;
  color: #fff;
}
#resoults {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  left: 15%;
  right: 0px;
  z-index: 1;
  text-align: center;
  position: relative;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: 30em 30em 30em;
}
#link {
  color: #2c427a;
  text-decoration: none;
}
#link:visited {
  color: #2c427a;
}
#link:active {
  color: #2c427a;
}
